.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamRotate180.active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #FF7E00;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Cuprum', sans-serif;*/
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #FBFBFB;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
  margin: 0;
}

a {
  color: #FBFBFB;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  padding: 0;
  margin: 0;
}

div,
span,
input,
button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button {
  color: #FBFBFB;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/*Helpers*/
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dn {
  display: none;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.align-self-flex-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-direction-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/*End helpers*/
#header .active {
  color: #FF7E00;
}

/*Scroll*/
.ps {
  height: 100%;
}

body .ps .ps__rail-x:hover,
body .ps .ps__rail-y:hover,
body .ps .ps__rail-x:focus,
body .ps .ps__rail-y:focus,
body .ps .ps__rail-x.ps--clicking,
body.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: 1;
}

body .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #FF7E00;
  width: 6px;
}
/*Background color*/
.main-background {
  background: black url(../../public/img/fon/BG.svg) center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
}

/*End Background color*/
.box-content {
  padding: 15px 15px 15px 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(19, 23, 33, 0.81);
  padding: 12px 0px 12px 26px;
  z-index: 20;
}

.header-content__logo {
  -webkit-box-flex: 1.1;
  -ms-flex-positive: 1.1;
  flex-grow: 1.1;
}

.header-content__nav {
  -webkit-box-flex: 0.3;
  -ms-flex-positive: 0.3;
  flex-grow: 0.3;
}

.header-content__nav a,
.burger-menu__nav a {
  font-size: 2.4rem;
  padding: 0 10px;
  margin: 0 0 0 23px;
  text-transform: uppercase;
  color: #F0F0F0;
  transition: 500ms ease;
}

.header-content__nav a:hover,
.burger-menu__nav a:hover {
  transition: 500ms ease;
  color: #FF7E00;
}

.header-content__nav a:first-child {
  margin-left: 0;
  margin-right: 23px;
}

.header-content__button button,
.header-content__button .header-regist {
  border: none;
  padding: 8px 30px;
  margin-left: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
  font-size: 2rem;
  text-shadow: 0px 1px 6px rgba(114, 56, 0, 0.69);
  border-radius: 27px 0px 0px 27px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.header-content__button .header-regist {
  border-radius: 27px;
}

.header-content__course {
  -webkit-box-flex: 1.4;
  -ms-flex-positive: 1.4;
  flex-grow: 1.4;
}

.header-content__course__box {
  padding: 4px 22px 4px 22px;
  background: #505C85;
  border-radius: 25px;
}

.header-content__course__box p {
  font-size: 2.4rem;
  color: #F0F0F0;
  text-transform: uppercase;
}

.header-content__course__currency {
  padding: 0 5px;
  position: relative;
  z-index: 1;
}

.header-content__course__currency:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -5px;
  left: -20px;
  border-radius: 0 25px 25px 0;
  top: 0;
  opacity: 0.3;
  background: #505C85;
  z-index: -1;
}

.header-content__course__currency__block p {
  font-size: 1.6rem;
  color: #F0F0F0;
  text-transform: uppercase;
  padding: 0 2px 0 5px;
  margin: 0 0 0 5px;
}

/*End Header*/
/*Header-mobile*/
.header-content-mobile {
  display: none;
  position: relative;
}

.header-content-mobile .burger-menu {
  position: absolute;
  background: #131721;
  top: -500px;
  padding: 10px;
  left: 0;
  right: 0;
  z-index: 20;
  transition: 500ms ease;
}

.header-content-mobile .menuMobActive {
  top: 60px;
  transition: 500ms ease;
}

.games-header-mobile {
  display: none;
  position: relative;
}

/*End Header-mobile*/
.header-content__user-title p {
  font-size: 1.6rem;
  margin-right: 10px;
  text-shadow: 0px 1px 6px rgba(114, 56, 0, 0.69);
}

.header-content__user-img {
  margin-right: 30px;
  width: 54px;
}

.header-content__user-img img {
  width: 100%;
}

/*leftSidebar*/
.left-sidebar {
  position: fixed;
  left: 0;
  top: 116px;
  background: rgba(25, 29, 42, 0.5);
  -ms-flex-preferred-size: 70px;
  flex-basis: 70px;
  bottom: 0;
}

/*Sound*/
.left-sidebar__sound {
  text-align: center;
  padding: 14px 0 10px;
  border-bottom: 1px solid rgba(255, 126, 0, 0.4);
  cursor: pointer;
}

.left-sidebar__sound img {
  width: 20px;
}

/*End Sound*/
/*Games*/
.left-sidebar__games {
  border-top: 1px solid rgba(255, 126, 0, 0.4);
  margin-top: 3px;
}

.left-sidebar__games__title {
  text-align: center;
  margin: 14px 0;
  color: #FF7E00;
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.left-sidebar__games__block {
  padding: 8px 4px 5px;
  margin-bottom: 3px;
  color: #FF7E00;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.left-sidebar__games__block__descr {
  padding-top: 5px;
}

.left-sidebar__games__block__descr p {
  padding-left: 4px;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.left-sidebar__games nav {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.left-sidebar__games__block:last-child {
  border-bottom: 1px solid #1AE882;
  padding: 15px 4px 17px;
}

.height-img {
  max-height: 51px;
}

/*End Games*/
/*End Bonus*/
.left-sidebar__bonus {
  color: #1AE882;
}

.left-sidebar__bonus__block,
.left-sidebar__info__block {
  padding: 10px 4px 5px;
}

.left-sidebar__bonus__block:first-child {
  border-top: 1px solid #1AE882;
  padding: 14px 4px 5px;
  margin-top: 3px;
}

.left-sidebar__bonus__block__descr p,
.left-sidebar__info__block__descr p {
  font-size: 1.3rem;
  margin-top: 2px;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.left-sidebar__bonus__block:last-child {
  border-bottom: 1px solid #505C85;
  padding: 14px 4px 14px;
}

/*End Bonus*/
/*Info*/
.left-sidebar__info {
  padding-bottom: 50px;
}

.left-sidebar__info__block:first-child {
  border-top: 1px solid #505C85;
  padding: 10px 4px 5px;
  margin-top: 3px;
}

.left-sidebar__info {
  color: #505C85;
}

/*End Info*/
/*End leftSidebar*/
.left-sidebar-mob {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  background: rgba(25, 29, 42, 0.9);
  -ms-flex-preferred-size: 70px;
  flex-basis: 70px;
  position: fixed;
  z-index: 15;
  display: none;
  left: -200px;
  bottom: 0;
  top: 0;
}

.left-sidebar-mob .left-sidebar__box {
  position: relative;
}

.leftSidebarMobActiveBlock {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  left: 0;
}

.leftSidebarMobActiveBlock .menu-icon {
  left: 75px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

/* Chat */
.chat {
  position: fixed;
  right: 0;
  top: 116px;
  bottom: 0px;
  z-index: 20;
  -webkit-transition: 900ms ease;
  transition: 900ms ease;
}

.chat-header {
  background: rgba(25, 29, 42, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  padding: 14px 15px;
}

.chat-content__block {
  padding: 0 25px 20px;
}

.chat-header__block__text p {
  color: #FF7E00;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 6px;
}

.chat-header__block__number p {
  font-weight: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #42FF00;
  margin-right: 6px;
}

.chat-header__block__light {
  background: #42FF00;
  -webkit-box-shadow: 0px 0px 7px #42FF00;
  box-shadow: 0px 0px 7px #42FF00;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 6px;
  height: 6px;
  border-radius: 50px;
}

.chat-content {
  background: rgba(1, 1, 1, 0.7);
  -webkit-box-shadow: inset 0px 50px 15px #000000;
  box-shadow: inset 0px 50px 15px #000000;
  padding: 2px 0px;
  height: 100%;
}

.block__foto__box__content,
.block__foto__box__content__double {
  background: #13161F;
  padding: 6px 18px 6px 12px;
  border-radius: 0px 15px 15px 15px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.block__foto__box__content__double {
  border-radius: 15px;
  margin-top: 5px;
}

.you .block__foto__box__content {
  border-radius: 15px 0px 15px 15px;
}

.chat-content__block__foto {
  width: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 13px;
  background-blend-mode: normal;
  -webkit-box-shadow: 0px 3px 10px #000000;
  box-shadow: 0px 3px 10px #000000;
}

.you .chat-content__block__foto {
  margin-right: 0;
  margin-left: 13px;
}

.block__foto__box__name p {
  font-size: 1.1rem;
  color: #FF7E00;
}

.block__foto__box__descr p {
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.chat-content__box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.chat-content__box::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.chat-content__box::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.chat-icon {
  position: fixed;
  right: 0;
  top: 30%;
}

.chat-icon,
.bids-icon,
.menu-icon {
  position: fixed;
  top: 30%;
  background: rgba(19, 23, 33, 0.81);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.chat-icon img,
.bids-icon img,
.menu-icon img {
  width: 25px;
}

.chat-icon,
.bids-icon {
  -webkit-transition: 800ms ease;
  transition: 800ms ease;
}

.menu-icon {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  top: 20%;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  left: 0;
}

.chat-icon {
  display: none;
  right: 0;
  border-radius: 10px 0 0 10px;
}

.bids-icon {
  display: none;
  left: 0;
  border-radius: 0px 10px 10px 0px;
}

/* End Chat */
/* Form */
.form-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.chat .form {
  background: rgba(25, 29, 42, 0.5);
  position: relative;
  padding: 5px 5px 5px 5px;
  -webkit-box-shadow: 0px -5px rgba(25, 29, 42, 0.4);
  box-shadow: 0px -5px rgba(25, 29, 42, 0.4);
}

.chat .form input {
  background: rgba(6, 6, 6, 0.8);
  border: none;
  border-radius: 100px;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 12px 22px;
  font-weight: normal;
  font-size: 1.3rem;
  color: #282E42;
  outline: none;
}

.chat .form input::-webkit-input-placeholder {
  color: #282E42;
}

.chat .form input::-moz-placeholder {
  color: #282E42;
}

.chat .form input:-ms-input-placeholder {
  color: #282E42;
}

.chat .form input::-ms-input-placeholder {
  color: #282E42;
}

.chat .form input::placeholder {
  color: #282E42;
}

.chat .form button {
  position: absolute;
  right: 26px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.chatActive {
  right: 320px;
  -webkit-transition: 1000ms ease;
  transition: 1000ms ease;
  z-index: 21;
}

.box-content .chatActiveBlock {
  right: 0;
  -webkit-transition: 900ms ease;
  transition: 900ms ease;
}

/* End Form */
/*Games*/
.games {
  position: relative;
  bottom: 0;
  top: 102px;
  background: rgba(25, 29, 42, 0.5);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  width: calc(100% - 1000px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.games-header {
  background: rgba(25, 29, 42, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.games-header__title {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
  border-radius: 0 0 50px 0;
}

.games-header__title p {
  color: #13161F;
  font-size: 2rem;
  padding: 14px 50px 14px 17px;
}

.games-header__point {
  margin: 0 5px;
  color: #13161F;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
  position: relative;
}

.games-header__point::after {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.games-box {
  height: 100%;
}

.game-histoty {
  margin-right: 20px;
}

.game-histoty p {
  color: #FF7E00;
  margin-left: 5px;
}

.games-header__box {
  padding: 0 25px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.games-header__box:hover {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 126, 0, 0.4)), to(rgba(198, 83, 0, 0.4)));
  background: linear-gradient(180deg, rgba(255, 126, 0, 0.4) 0%, rgba(198, 83, 0, 0.4) 100%);
}

.header__box__btn {
  padding: 15px 5px;
  margin-right: 15px;
}

.header__box__btn p {
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 8px 15px;
}

.header__box__img {
  position: relative;
  margin-right: 25px;
}

.header__box__img:after,
.header__box__img:before {
  content: '';
  position: absolute;
  background: url(../../public/img/games/arrow.svg) center no-repeat;
  right: -18px;
  width: 12px;
  height: 9px;
}

.header__box__img:after {
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
  bottom: 0;
}

.header__box__img:before {
  top: 0;
}

.header__box__text p,
.header__box__text span {
  line-height: 18px;
  font-size: 1.3rem;
  color: #FF7E00;
}

.games .activ {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
}

.games .activ .header__box__text p,
.games .activ .header__box__text span {
  color: #000;
}

.games .activ .header__box__btn p {
  background: #13161F;
  border-radius: 25px;
}

.games .activ .header__box__img {
  background: url(../../public/img/games/coin-stack-black.svg) center no-repeat;
  width: 30px;
  height: 20px;
  background-size: contain;
  margin-right: 25px;
}

.games .activ .header__box__img img {
  display: none;
}

.games .activ .header__box__img:after,
.games .activ .header__box__img:before {
  background: url(../../public/img/games/arrow-bold.svg) center no-repeat;
}

/*End Games*/
/*End Games*/
/*Games-mobile*/
.games-header-mobile-content {
  position: relative;
}

.games-header-mobile-content .burger-menu-games {
  position: absolute;
  background: rgba(19, 23, 33, 0.9);
  top: 80px;
  left: 0;
  right: 0;
  display: none;
  z-index: 20;
}

/*end Games-mobile*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 35, 51, 0.8)), to(rgba(12, 16, 31, 0.8)));
  background: linear-gradient(180deg, rgba(30, 35, 51, 0.8) 0%, rgba(12, 16, 31, 0.8) 100%);
  z-index: 100;
}

.popup-content {
  position: relative;
  background: #161B29;
  border: 1px solid #FF7E00;
  padding: 50px 70px 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.popup-content h2 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.popup-content p a {
  color: #FF7E00;
}

.popup-content-icon a {
  border: 4px solid #FF7E00;
  border-radius: 50px;
  margin: 10px;
  font-size: 4rem;
  color: #FF7E00;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.popup-content-icon a:hover {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  background: #FF7E00;
  color: #13161F;
}

.form-ent {
  width: 100%;
}

.form-ent input {
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #FF7E00;
  cursor: pointer;
  margin: 0 0 8px 0;
  font-size: 2rem;
  padding: 10px;
  font-weight: 500;
  width: 100%;
}

.form-ent input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: #fff !important;
}

.form-ent .small-pupap {
  font-size: 1.5rem;
  margin: 0 0 5px 0;
  text-transform: none;
  color: #BF3030;
}

.form-ent button {
  background-color: #FF7E00;
  font-size: 1.8rem;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 15px;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  cursor: pointer;
}

.form-ent button:hover {
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  background-color: rgba(255, 126, 0, 0.8);
}

.form-ent input::-webkit-input-placeholder {
  color: #fff;
}

.form-ent input::-moz-placeholder {
  color: #fff;
}

.form-ent input:-moz-placeholder {
  color: #fff;
}

.form-ent input:-ms-input-placeholder {
  color: #fff;
}

.close {
  position: absolute;
  right: -1px;
  top: -25px;
  cursor: pointer;
}

.games-bids {
  max-width: 430px;
  width: 100%;
  position: fixed;
  left: 70px;
  top: 116px;
  bottom: 0;
  -webkit-transition: 900ms ease;
  transition: 900ms ease;
  z-index: 20;
}

.games-bids-header {
  padding: 15px 25px 15px 25px;
  background: rgba(21, 13, 8, 0.9);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

.bids-box-img {
  margin-right: 10px;
}

.bids-box-text p,
.header-bids p {
  color: #FF7E00;
}

.bids-chance p {
  font-weight: 300;
  color: #505C85;
}

.header-bids p {
  font-weight: 300;
}

.games-bids-content {
  -webkit-box-shadow: 0 -10px 30px #282E42 inset;
  box-shadow: 0 -10px 30px #282E42 inset;
  background: rgba(1, 1, 1, 0.5);
  height: calc(100% - 53px);
  position: relative;
}

.bids-chance {
  width: 60px;
  text-align: center;
}

.header-bids {
  width: 60px;
  text-align: end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bids-content-block {
  padding: 7px 25px;
}

.header-bids img {
  margin-left: 8px;
}

.bids-content-text img {
  margin-right: 20px;
}

.bids-content-text p {
  font-weight: normal;
}

.bidsActive {
  left: 320px;
  -webkit-transition: 1000ms ease;
  transition: 1000ms ease;
  z-index: 21;
}

.box-content .bidsActiveBlock {
  left: 0;
  -webkit-transition: 900ms ease;
  transition: 900ms ease;
}

.games-bids-global {
  height: 100%;
}

.makeBet {
  width: 100%;
  margin: 15px 15px 0 15px;
  padding: 15px;
  background: rgba(1, 1, 1, 0.3);
}

.makeBet .makeBet-header {
  margin-top: 15px;
}

.makeBet .makeBet-header .makeBet-header-title {
  display: inline;
  background: rgba(1, 1, 1, 0.4);
  border-radius: 15px 15px 0px 0px;
  padding: 16px 20px;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.makeBet form {
  background: rgba(1, 1, 1, 0.4);
  padding: 10px;
  margin-top: 4px;
}

.makeBet form input {
  background: rgba(80, 92, 133, 0.25);
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding: 12px;
  margin-right: 10px;
}

.makeBet form input::-webkit-outer-spin-button,
.makeBet form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.makeBet form .form-amount {
  width: 79px;
  padding: 12px 20px;
  margin-right: 5px;
}

.makeBet form .amount-block img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.makeBet form .amount-block p {
  color: #505C85;
  font-size: 1.2rem;
}

.makeBet form .makeBet-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
  padding: 17px 22px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: 1.7rem;
  margin-left: 35px;
  cursor: pointer;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.makeBet .totalRate p {
  color: rgba(255, 126, 0, 0.4);
  font-weight: 400;
}

.makeBet .totalRate .totalRate-block {
  margin-top: 5px;
}

.makeBet .totalRate .totalRate-block p {
  color: #FF7E00;
  font-size: 1.8rem;
  margin-right: 9px;
}

.bank {
  margin-top: 30px;
}

.bank .bank-title p {
  display: inline;
  background: rgba(1, 1, 1, 0.4);
  border-radius: 15px 15px 0px 0px;
  padding: 16px 20px;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.bank .bank-content {
  padding: 15px;
  background: rgba(1, 1, 1, 0.3);
}

.bank .bank-content .bank-content-currency-block {
  margin-bottom: 11px;
}

.bank .bank-content .bank-content-currency-block p {
  font-weight: normal;
  font-size: 1.8rem;
  color: #ccc;
}

.bank .bank-content .bank-content-currency-block img {
  margin-right: 15px;
}

.bank .bank-content-commonBank {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 126, 0, 0.08)), to(rgba(255, 126, 0, 0.08)));
  background: linear-gradient(0deg, rgba(255, 126, 0, 0.08), rgba(255, 126, 0, 0.08));
  border: 1px solid #08090D;
  max-width: 160px;
  width: 100%;
}

.bank .bank-content-commonBank .bank-content-commonBank-text {
  font-size: 1.8rem;
  padding: 20px;
}

.bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency {
  margin-top: 8px;
}

.bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency .commonBank-allcurrency-block {
  margin-bottom: 10px;
}

.bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency .commonBank-allcurrency-block img {
  margin-right: 10px;
}

.bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency .commonBank-allcurrency-block p {
  font-size: 1.7rem;
  font-weight: 400;
  color: #ccc;
}

.bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency .commonBank-allcurrency-block:last-child {
  margin-bottom: 0;
}

.bank .bank-content-commonBank .btn-bank {
  text-align: center;
  font-size: 2.5rem;
  padding: 14px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
  width: 100%;
  font-weight: 300;
}

.bank .bank-content-commonBank .btn-bank img {
  margin-right: 5px;
}

.bank-content-currency {
  width: 100%;
}

.generalbank p {
  margin-right: 10px;
  font-size: 1.6rem;
}

.timer {
  width: 100%;
  height: 100%;
  padding: 50px 10px;
}

.timer .timer-animate {
  border: 2px dashed rgba(255, 126, 0, 0.7);
  border-radius: 50%;
  position: relative;
  z-index: 3;
  position: relative;
}

.timer .timer-number {
  margin: 25px;
  padding: 100px 90px 110px;
  border-radius: 50%;
  border: 1px solid rgba(255, 126, 0, 0.15);
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 126, 0, 0.2) 0%, rgba(255, 126, 0, 0.1506) 40.77%, rgba(255, 126, 0, 0) 100%);
  position: relative;
  z-index: 2;
}

.timer .timer-number-title {
  font-size: 6rem;
  font-weight: 500;
}

.raffle {
  padding: 20px 20px 30px;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  height: 100%;
}

.raffle .raffle-title h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #FF7E00;
  text-align: center;
  text-shadow: 0px 0px 15px rgba(255, 126, 0, 0.7);
  margin-bottom: 70px;
}

.raffle .raffle-box-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 8px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}

.raffle .raffle-box-block img {
  border-radius: 50px;
}

.raffle .raffle-box-block::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 2px;
  right: -2px;
  bottom: -2px;
  background: #000;
  z-index: -1;
  border-radius: 50px;
}

.raffle .raffle-box-block:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7E00), to(#C65300));
  background: linear-gradient(180deg, #FF7E00 0%, #C65300 100%);
  z-index: -1;
  border-radius: 50px;
}

.raffle .raffle-box {
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.shadow-left {
  position: absolute;
  left: -20px;
  z-index: 2;
}

.shadow-right {
  content: '';
  position: absolute;
  right: -20px;
  z-index: 2;
}

.arrow-bottom {
  position: absolute;
  top: -40px;
}

.arrow-top {
  position: absolute;
  bottom: -40px;
}

.raffle-action .raffle-box-block:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: #02ff0a !important;
  z-index: -1;
  border-radius: 50px;
}

.results-win {
  border-radius: 8px;
  padding: 10px 30px;
  border: 1px solid #FF7E00;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 50px;
}

.results-win img {
  width: 64px;
  margin-right: 25px;
}

.results-win p {
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #FF7E00;
  text-shadow: 0px 0px 15px rgba(255, 126, 0, 0.5);
  margin-right: 25px;
}

.results-win .results-win-block img {
  width: 20px;
  margin-right: 10px;
}

.results-win .results-win-block p {
  margin: 0;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.news-results {
  margin-top: 32px;
  text-align: center;
}

.news-results .news-start {
  font-size: 1.5rem;
  color: #525F8A;
}

.news-results .watch-result {
  margin-top: 15px;
  font-size: 1.2rem;
  color: rgba(255, 126, 0, 0.5);
}

@media screen and (max-width: 1980px) {
  .games {
    width: calc(100% - 795px);
  }

  .games-bids {
    max-width: 335px;
  }

  .chat {
    max-width: 365px;
  }

  .makeBet {
    margin: 10px 10px 0 10px;
    padding: 10px;
  }

  .makeBet .makeBet-header {
    margin-top: 10px;
  }

  .makeBet form .makeBet-btn {
    padding: 12px 15px;
    font-size: 1.6rem;
    margin-left: 15px;
  }

  .games-header__title p {
    padding: 14px 27px 14px 17px;
  }

  .games-header__box {
    padding: 0px 3px;
  }

  .header__box__btn {
    padding: 10px 0px;
    margin-right: 5px;
  }

  .header__box__btn p {
    font-size: 1.6rem;
    padding: 5px 8px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .header-content__nav a:first-child {
    margin-left: 0;
    margin-right: 0;
  }

  .header-content__course__currency__block p {
    font-size: 1.5rem;
  }

  .header-content__course__box {
    padding: 4px 14px 4px 14px;
  }

  .header-content__course__box p {
    font-size: 2rem;
  }

  .raffle {
    max-width: 600px;
  }
}

@media screen and (max-width: 1440px) {
  .games {
    width: calc(100% - 90px);
    left: 60px;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .header-content__course__currency__block p {
    font-size: 1.3rem;
  }

  .header-content__button button,
  .header-content__button .header-regist {
    font-size: 1.8rem;
  }

  .header-content__course__box {
    padding: 4px 10px 4px 10px;
  }

  .chat {
    top: 0;
    bottom: 0;
    right: -400px;
  }

  .games-bids {
    left: -400px;
    top: 0;
    bottom: 0;
  }

  .header-content__nav a {
    font-size: 2rem;
  }

  .header-content__logo img {
    width: 110px;
  }

  .header-content__nav a {
    padding: 0 5px;
    margin: 0 0 0 0px;
  }

  .bids-icon,
  .chat-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .games-bids,
  .chat {
    background: #000;
    max-width: 320px;
  }

  .raffle {
    max-width: 800px;
  }
}

@media screen and (max-width: 1200px) {
  .burger-menu__nav {
    text-align: center;
    margin-bottom: 10px;
    display: none;
  }

  .header-content-mobile,
  .games-header-mobile {
    display: block;
  }

  .header-content,
  .games-header {
    display: none;
  }

  .header {
    padding: 17px 0px 17px 0px;
  }

  .bank .bank-content-commonBank .btn-bank {
    font-size: 2rem;
    padding: 12px 0px;
  }

  .timer .timer-number {
    margin: 20px;
    padding: 90px 80px 100px;
  }

  .header-content-mobile .header-content__nav {
    text-align: end;
  }

  .header-content-mobile .header-content__nav a {
    margin: 0 20px 0 0px;
  }

  .makeBet {
    margin: 0px 10px 0 10px;
  }

  .games-header__title p {
    padding: 10px 27px 10px 17px;
  }

  .raffle {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .header-content-mobile-content .mob-content__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .header-content-mobile-content .mob-content__nav a {
    margin: 0 10px;
  }

  .burger-menu__nav {
    display: block;
  }

  .games {
    width: 100%;
    left: 0px;
    margin: 0;
    padding: 0 20px;
  }

  .box-content {
    padding: 0;
  }

  .header-content__nav {
    display: none;
  }

  .header-content__course__currency {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header-content__course__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-content__course__box p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .header-content__course__currency__block {
    padding: 2px;
  }

  .header-content__course__currency__block p {
    padding: 0 0 0 0;
  }

  .burger-menu__nav {
    margin: 0 5px 10px 0;
  }

  .burger-menu__nav a {
    padding: 0;
    margin: 0 5px;
    font-size: 1.8rem;
  }

  .game-histoty {
    font-size: 1.4rem;
    margin-right: 0px;
  }

  .games-header__title p {
    padding: 10px 18px 10px 5px;
    font-size: 1.8rem;
  }

  .left-sidebar {
    display: none;
  }

  .makeBet-header-box {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .makeBet-header-box form {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .makeBet-header-box form input {
    margin: 5px 0;
  }

  .makeBet form .form-amount {
    width: auto;
    padding: 12px 12px;
    margin-right: 5px;
  }

  .makeBet form .makeBet-btn {
    margin-left: 0px;
    margin-top: 10px;
    font-size: 1.4rem;
  }

  .totalRate {
    text-align: end;
    padding-bottom: 10px;
  }

  .bank-content {
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .bank-content-currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .bank .bank-content-commonBank {
    max-width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  .bank .bank-content-commonBank .bank-content-commonBank-text {
    padding: 10px;
  }

  .generalbank {
    margin: 10px 0;
    -ms-flex-item-align: end;
    align-self: end;
  }

  .popup-content {
    padding: 30px 10px 30px;
  }

  .promotionalc-codes__list {
    margin: 0 10px;
  }

  .promotionalc-codes__list p {
    padding: 0 0px 0 10px;
  }

  .ham {
    width: 40px;
  }

  .chat-icon img,
  .bids-icon img,
  .menu-icon img {
    width: 20px;
  }

  .left-sidebar-mob {
    display: block;
    top: 101px;
  }

  .raffle {
    padding: 30px 0px 30px 0;
    max-width: 360px;
  }

  .results-win {
    border-radius: 8px;
    padding: 10px 10px;
  }

  .results-win p {
    font-size: 2rem;
  }

  .results-win .results-win-block p {
    font-size: 2.5rem;
  }

  .results-win img {
    width: 50px;
    margin-right: 10px;
  }

  .chat-icon,
  .bids-icon,
  .menu-icon {
    background: #131721;
    opacity: 0.7;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }

  .chat-icon:hover,
  .bids-icon:hover,
  .menu-icon:hover {
    opacity: 1;
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
  }

  .chat {
    z-index: 20;
  }

  .chat-icon,
  .bids-icon {
    padding: 10px;
  }
}

@media screen and (max-width: 425px) {
  .raffle {
    padding: 30px 0px 30px;
    max-width: 270px;
    margin-bottom: 100px;
  }

  .form-ent .small-pupap {
    font-size: 1.2rem;
  }

  .raffle .raffle-box-block img {
    width: 50px;
  }

  .raffle .raffle-title h2 {
    margin-bottom: 60px;
  }

  .makeBet form {
    padding: 5px;
  }

  .makeBet form input {
    padding: 12px 0px 12px 5px;
    width: 130px;
  }

  .makeBet form .form-amount {
    padding: 10px 0px 10px 5px;
    width: 130px;
  }

  .makeBet {
    margin: 0;
    padding: 0;
  }

  .timer .timer-number {
    margin: 10px;
    padding: 80px 60px 80px;
  }

  .popup-content h2 {
    font-size: 3rem;
  }

  .popup-content p {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .popup-content-icon a {
    border: 3px solid #FF7E00;
    margin: 5px;
    font-size: 2rem;
  }

  .results-win.results-win p {
    font-size: 2rem;
    margin-right: 10px;
  }

  .results-win .results-win-block p {
    margin: 0;
  }

  .results-win .results-win img {
    margin-right: 12px;
  }

  .header-content__logo img {
    width: 90px;
  }

  .header-content__user-img {
    margin-right: 10px;
  }

  .header-content__user-title p {
    font-size: 1.4rem;
  }

  .games-bids,
  .chat {
    background: #000;
    max-width: 320px;
  }

  .bidsActive {
    left: 270px;
    border-radius: 10px;
  }

  .chatActive {
    right: 270px;
    border-radius: 10px;
  }

  .games {
    padding: 0px 25px;
  }

  .makeBet .totalRate p,
  .makeBet form input {
    font-size: 1.2rem;
  }

  .makeBet .makeBet-header .makeBet-header-title {
    padding: 15px 15px;
    font-size: 1.6rem;
  }

  .makeBet .makeBet-header {
    margin-top: 25px;
  }

  .bank .bank-title p {
    padding: 0px 20px;
    font-size: 1.6rem;
  }

  .bank .bank-content .bank-content-currency-block p,
  .bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency .commonBank-allcurrency-block p {
    font-size: 1.4rem;
  }

  .bank .bank-content .bank-content-currency-block img,
  .bank .bank-content-commonBank .bank-content-commonBank-text .commonBank-allcurrency .commonBank-allcurrency-block img {
    margin-right: 5px;
    width: 20px;
  }

  .timer .timer-number-title {
    font-size: 4rem;
  }

  .timer-number p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}